*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins';
}

.header {
    
    overflow: hidden;
    border: 2px solid black;
    padding: 100px 30 px;
    background: url("img/frog.jpg");
    width: auto;
    height: 170px;
    object-fit: contain ;
    background-repeat: repeat;
    background-size: cover;
    color: white;
    
    
}

.navbar {
  position: absolute;
  padding: 50px;
  display: flex;
  justify-content:space-between;
  width:100%;
  box-sizing:border-box;
  color: white;

}

  .nav-links {
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 10px;
    border-radius: 4px;
    align-items: left ;
    display:inline-block;
  }

  .navbar .logo {
    color:white;
    font-size:2em;
    font-weight: bold;
  }

  .liste{
  color:white;
  display: inline-block;
  align-items: right ;
  
  }


